<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsClient.Properties.Settings.DBConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DB.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>

	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
	</System.Windows.Forms.ApplicationConfigurationSection>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>